<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <ma-view-actions>
                <ma-back-button></ma-back-button>
            </ma-view-actions>
            <h1><span> Add Vehicle Company </span></h1>
        </div>
    </div> 
</div>
<div class="row" id="create-view">
    <div class="add-form">
        <form class="form-horizontal" role="form" name="CompanyAdd" ng-submit="VehicleCompaniesAdd(CompanyAdd.$valid)" novalidate>
            <div class="form-group" ng-class="{'has-error' : ((CompanyAdd.$submitted || CompanyAdd.user_id.$touched) && (CompanyAdd.user_id.$pristine || CompanyAdd.user_id.$invalid))|| model.user_idErr}">
            	<label class="control-label">User </label>
                <select class="form-control" name="user_id" id="user_id" ng-model="vehicleCompanies.user_id" ng-options="user.id as user.username for user in users" ng-required="true">
                    <option value="">select</option>
                </select>
                <div ng-show="((CompanyAdd.$submitted || CompanyAdd.user_id.$touched) && (CompanyAdd.user_id.$pristine || CompanyAdd.user_id.$invalid)) || model.user_idErr">
                    <span class="help-block" ng-show="(CompanyAdd.user_id.$error.required)">Required</span>
                    <span class="help-block" ng-show="model.nameErr">{{model.user_idErr}}</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : ((CompanyAdd.$submitted || CompanyAdd.name.$touched) && (CompanyAdd.name.$pristine || CompanyAdd.name.$invalid))|| model.nameErr}">
                <label class="control-label">Name</label>
                <input type="text" class="form-control" placeholder="Name" id="name" name="name" ng-model="vehicleCompanies.name" ng-required="true" ng-change="model.nameErr=''">
                <div ng-show="((CompanyAdd.$submitted || CompanyAdd.name.$touched) && (CompanyAdd.name.$pristine || CompanyAdd.name.$invalid)) || model.nameErr">
                    <span class="help-block" ng-show="(CompanyAdd.name.$error.required)">Required</span>
                    <span class="help-block" ng-show="model.nameErr">{{model.nameErr}}</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : ((CompanyAdd.$submitted || CompanyAdd.is_active.$touched) && (CompanyAdd.is_active.$pristine || CompanyAdd.is_active.$invalid))|| model.is_activeErr}">
                <label class="control-label">Status?</label>
                <select class="form-control" ng-model="vehicleCompanies.is_active" name="is_active" id="is_active" ng-required="true" ng-change="model.is_activeErr=''">
                    <option value="" selected="selected">Status?</option>
                    <option value="1">Active</option>
                    <option value="0">Deactive</option>
                    <option value="2">Rejected</option>
                </select>
                <div ng-show="((CompanyAdd.$submitted || CompanyAdd.is_active.$touched) && (CompanyAdd.is_active.$pristine || CompanyAdd.is_active.$invalid)) || model.is_activeErr">
                    <span class="help-block" ng-show="(CompanyAdd.is_active.$error.required)">Required</span>
                    <span class="help-block" ng-show="model.is_activeErr">{{model.is_activeErr}}</span>
                </div>
            </div>
            <div class="form-group mob-dc">
            	<button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
